[
    {lager, [
             {handlers, [
                         {lager_console_backend, [
                             {level, debug},
                             {formatter, lager_default_formatter},
                             {formatter_config, [date, " ", time, " ", color, "[", severity, "] ",
                             {pid, ""},
                             {module, [
                                     {pid, ["@"], ""},
                                     module,
                                     {function, [":", function], ""},
                                     {line, [":",line], ""}], ""},
                             " ", message, "\n"]}]}
                        ]},
             {colored, false}
            ]}
   ].
